
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.form-group {
    margin-top: 20px;
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600|Oswald:300,400');
body {
  background-color: #f2f2f2;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #333;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.menu{
	display: none;
}

/* MENU CONF*/
@media screen and (max-width: 1024px){

	.menu {
		display: block;
		position: fixed;
		right: -200px;
		width: 260px;
		height: 100%;
		top: 0;
		z-index: 10;
		text-align: left;
	}

	.menu.menu-open {
		right: 0px;
	}

	.menu-wrap {
		position: absolute;
		top: 0;
		left: 60px;
		background: #1a1a1a;
		width: 200px;
		height: 100%;
	}

	.menu h1.logo a {
		font-family: 'Oswald', sans-serif;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.15em;
		line-height: 40px;
		text-transform: uppercase;
		color: #ffffff;
		margin-top: 20px;
	}

	.menu h1.logo a:hover {
		color: #f85c37;
	}

	.menu img.logo {
		margin: 20px 0;
		max-width: 160px;
	}

	.menu a {
		margin-left: 20px;
		color: #808080;
		display: block;
		font-size: 12px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	.menu a:hover {
		color: #ffffff;
	}

	.menu a:active {
		color: #ffffff;
	}

	.menu a > i {
		float: left;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		width: 25px;
		font-size: 14px;
		line-height: 40px;
		margin: 25px 2px;
	}

	.menu-close {
		cursor: pointer;
		display: block;
		position: absolute;
		font-size: 14px;
		color: #808080;
		width: 40px;
		height: 40px;
		line-height: 40px;
		top: 20px;
		right: 5px;
		-webkit-transition: all .1s ease-in-out;
		   -moz-transition: all .1s ease-in-out;
			-ms-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
				transition: all .1s ease-in-out;
	}

	.menu-close:hover {
		color: #ffffff;
		-webkit-transition: all .1s ease-in-out;
		   -moz-transition: all .1s ease-in-out;
			-ms-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
				transition: all .1s ease-in-out;
	}

	/* Push the body after clicking the menu button */
	.body-push {
		overflow-x: hidden;
		position: relative;
		left: 0;
	}

	.body-push-toright {
		left: 200px;
	}

	.body-push-toleft {
		left: -200px;
	}

	.menu,
	.body-push {
		-webkit-transition: all .3s ease;
		   -moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			 -o-transition: all .3s ease;
				transition: all .3s ease;
	}

	#menuToggle {
		position: absolute;
		top: 20px;
		left: 0;
		z-index: 11;
		display: block;
		text-align: center;
		font-size: 14px;
		color: #ffffff;
		width: 40px;
		height: 40px;
		line-height: 40px;
		cursor: pointer;
		background: rgba(0,0,0,0.25);
		-webkit-transition: all .1s ease-in-out;
		   -moz-transition: all .1s ease-in-out;
			-ms-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
				transition: all .1s ease-in-out;
	}

	#menuToggle:hover {
		color: #ffffff;
		background: rgba(0,0,0,0.2);
		-webkit-transition: all .1s ease-in-out;
		   -moz-transition: all .1s ease-in-out;
			-ms-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
				transition: all .1s ease-in-out;
	}

}
